<include file="Public/header"/>
<include file="Public/common_link"/>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong><span class="icon-key"></span> 创建会员组</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="{:U('Index/memberGroup',array('doing'=>'edit','id'=>$group['id']))}">
            <div class="form-group">
                <div class="label">
                    <label for="sitename">会员组名：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" id="" name="group" size="50" placeholder="请输入会员组名" value="{$group['group']}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">需要条件：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" id="" name="by" size="50" placeholder="需要达到的条件，消费满多少？"  value="{$group['by']}"/>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body></html>