<include file="Public/header"/>
<include file="Public/common_link"/>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong><span class="icon-key"></span> 创建会员组</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="{:U('Index/memberGroup',array('doing'=>'edit','id'=>$member['id']))}">
            <div class="form-group">
                <div class="label">
                    <label for="sitename">用户名：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" id="" name="username" size="50" placeholder="请输入会员组名" value="{$member['username']}"/>
                    <input type="hidden" name="status" value="{$member['uid']}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">会员组：</label>
                </div>
                <div class="field">
                    <select class="input w50" name="group">
                        <foreach name="group" item="v" key="k">
                            <if condition="$v['id']==$member['status']">
                                <option value="$v['id']" selected="">{$v['group']}</option>
                            <else/>
                                <option value="$v['id']">{$v['group']}</option>
                            </if>
                        </foreach>
                    </select>
                    <!--<input type="text" class="input w50" id="" name="group" size="50" placeholder="请输入会员组名" value="{$member['group']}"/>-->
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">手机：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" id="" name="phone" size="50" placeholder="需要达到的条件，消费满多少？"  value="{$member['phone']}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">邮箱：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" id="" name="email" size="50" placeholder="需要达到的条件，消费满多少？"  value="{$member['email']}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">昵称：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" id="" name="nickname" size="50" placeholder="需要达到的条件，消费满多少？"  value="{$member['nickname']}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">性别：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" id="" name="sex" size="50" placeholder="需要达到的条件，消费满多少？"  value="{$member['sex']}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">卡号：</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" id="" name="card" size="50" placeholder="需要达到的条件，消费满多少？"  value="{$member['card']}"/>
                </div>
            </div>

            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body></html>